body {
  margin: 0;
  padding: 0;

  a {
    font: {
      weight: bold;
      family: serif;
    }
    &:hover {
      background-color: #eee;
    }
  }

  .box{
    width: 100%;
    height: 100%;
    border: none;
  }

  .teste{
    height: auto;
    width: auto;
    border: #eeeeee;
    max-height: 100%;
  }
}
